.common_header {
  width: 88%;
  margin: 30px auto 5px;
  .common_title {
    font-weight: 500;
    font-size: 22px;
    color: #0c0c0c;
  }
  .common_name {
    font-size: 16px;
    color: #0c0c0c;
  }
}
.common_section {
  background: #f4f7fc;
  height: 89.2vh;
  padding: 30px 60px 0 25px;
}
